@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family= PT+Serif & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@font-face {
    font-family: batforever;
    src: url(fonts/batmfa__.ttf);
}
@font-face {
    font-family: mandalore;
    src: url(fonts/mandalore.ttf);
}
@font-face {
    font-family: raider;
    src: url(fonts/raidercrusader.ttf);
}
@font-face {
    font-family: guardians;
    src: url(fonts/Guardians.ttf);
}
@font-face {
    font-family: geomatrix;
    src: url(fonts/Geomatrix\ Light.ttf);
}

/* font-family: 'Castoro Titling', cursive; */
/* font-family: 'Source Serif Pro', serif; */
/* font-family: 'Poppins', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-image: url(img/back-pl2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track{
    background-color: #000000;
}

::-webkit-scrollbar{
    width: 6px;
    background: #f4f4f4;
}

::-webkit-scrollbar-thumb{
    background-color: #07d600;
}

/* --------------------------------1-------------------------------------- */

header {
    padding: 10px;
    background-color: #000000a1;
    margin-bottom: 40px
}

nav {
    display: flex;
    justify-content: first baseline;
    align-items: center;
}

nav img {
    height: 95px;
    width: 95px;
}

.bar {
    width: 20px;
    height: 4px;
    background-color: #07d600;
    margin: 4px;

}

.mh{
    display: flex;
    
}

.menu-hamburger {
    display: none;
    cursor: pointer;
}

.menu {
    display: flex;
    list-style: none;

}

.menu li {
    border-radius: 10px;
    margin: 0 4.2px;
    background-color: #000000;
    border: #07d600 solid 2px;
    padding: 2.6px 5.7px;
}



.menu li a {
    font-size: 24px;
    text-decoration: none;
    color: #fcfcfc;
    font-family: geomatrix;
}

.menu li a:hover {
    color: #07d600;
    transition: calc(0.4s);
}


.apresent {
    display: block;



}

.text {
    text-align: center;
    justify-content: center;
    align-self: center;
    margin: 0 auto;



}

.img-dev img {
    height: 250px;
    width: 250px;
    border: inset #07d600 8px;
    border-radius: 30px;
    box-shadow: -10px 10px 5px #000000;
    margin-bottom: 16px;



}

.text h1 {

    font-size: 55px;
    font-family: mandalore;
    margin-bottom: 17px;
    color: #000000;
    -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: #07d600;


}

.text p {
    color: #000000;

    font-size: 35px;
    font-family: batforever;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icons i {
    font-size: 48px;
    border-radius: 10px;
    margin-bottom: 10px;
    flex-direction: row;
    padding: 0 6px;
}

.fa-github {
    -webkit-text-stroke: 1.4px;
    -webkit-text-stroke-color: #80158a;

}

.fa-whatsapp{
    -webkit-text-stroke: 1.4px;
    -webkit-text-stroke-color: #075008;
}

.fa-linkedin-in{
    -webkit-text-stroke: 1.4px;
    -webkit-text-stroke-color: #111385;
}

.fa-instagram{
    -webkit-text-stroke: 1.4px;
    -webkit-text-stroke-color: #430e74;
}

.fa-envelope{
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #800e0e;
}

/* ------------------2----------------------- */

.sobre-mim {
    margin-top: 15px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: 6px;
    justify-content: space-evenly;
    align-items: center;
    border-top: solid #07d600;

}

.sobre-mim h2 {
    font-family: raider;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: #07d600;
    -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: #000000;
}

.text-mim {
    font-family: geomatrix;
    width: 50%;
    text-align: justify;
    padding: 0 -36px;
    font-size: 20px;
    margin: 40px 0;
}


.icons-2 {
    text-align: center;
    align-self: center;
    margin-top: 10px;
}


.icons-2 i {
    padding: 5px;
    font-size: 60px;
}

.i2-p1 img{
    height: 60px;
    width: 60px;
}

/* -----------------pl-2------------- */
.pl-2 {
    background-image: url(img/pl1.jpg);
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 225px;
}

/* ------------------3------------------- */

.pjt-destaque {
    background-color: #ffffff;
    border-top: solid 5px #000000;
    border-bottom: solid 10px #000000;
    padding: 30px 0;
    padding-bottom: 100px;
}

.pjt-destaque h1 {
    font-family: guardians;
    color: #000000;
    text-align: center;
    font-size: 50px;
    padding-top: 10px;

}

.body-cards {

    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px #00000080;
    border-radius: 15px;
    background: #ffffff1a;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ffffff80;
    border-left: 1px solid #ffffff80;
    
}
#cd1{
    background-image: url(img/cd1-d.jpg);
    background-position: center;
    background-size: cover;
}

#cd2{
    background-image: url(img/cd2-d.jpg);
    background-position: center;
    background-size: cover;
}

#cd3{
    background-image: url(img/cd3-d.jpg);
    background-position: center;
    background-size: cover;
}

.container .card .content {
    padding: 20px;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
    /* color: #1faf12; */
    color: #e20404;
    background-color: #000000ef;

}

.container .card:hover .content {
    transform: translateY(0px);
    opacity: 1;

    

}

.container .card .content h3 {
    font-size: 45px;
    z-index: 1;
    font-family: raider;
    margin-bottom: 10px;
}

.container .card .content p {
    font-size: 20px;
    font-weight: 900;
    text-align: justify;
    font-family: geomatrix;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 45px;
    background-color: #000000;
    color: #ff0000;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px #00000033;
    border: #d40303 solid;
 
}



/* ----------------4----------------- */

.Mp{
    margin-top: -10px;
    padding-bottom: 15px;
}

#h2-Tpt4{
    text-align: center;
    font-size: 48px;
    margin: 10px;
    padding-top: 10px;
    font-family: batforever;
    color: #000000;
    -webkit-text-stroke: 0.3px;
    -webkit-text-stroke-color: #079e02;
}

.box-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;    
    width: 100%;
  }


  
  /* Card */
  .cards {
    width: 280px;
    height: 390px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #000000b3;
    transition: 0.3s;
    background-color: #000;
  }
  
  /* Card Header*/
  .card-header {
    width: 100%;
    height: 150px;
    overflow: hidden;
  }
  
  .card-img {
    min-width: 100%;
    height: 100%;
  }
  
  /* Card Body */
  .card-body {
    height: 170px;
    padding: 15px;
    text-align: center;

  }
  
  .card-local {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .card-titulo {
    color: #00c702;
    font-family: raider;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: #000000;
  }
  
  .card-texto {
    font-size: 15px;
    width: 180px;
    margin: auto;
    margin-top: 10px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    color: #07d600;
  }
  
  /* Card Footer */
  .card-footer {
    margin-top: 20px;
    text-align: center;
    background-color: #000;
  }
  
  .card-footer a {
    color: rgb(0, 0, 0);
    display: block;
    padding: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
  }
  
  /* Cor fotter cards */
.card-footer {
    background-color: #07d600;
  }
  
  
  
  /* Animação Hover */
  .cards:hover {
    transform: scale3d(1.1, 1.1, 0.1);
  }

  /* -------------5----------- */

footer{
    background: #000000;
    color: #00c702;

}
.container-footer{
    border-top: #00c702 solid;
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
    align-self: center;
    padding-bottom: 20px;  
}
.coluna img{
    height: 120px;
    width: 120px;
    margin-bottom: -20px;
}

.coluna h2{
    font-size: 35px;
    font-family: raider;
}

.coluna p{
    font-size: 15px;
    font-family: geomatrix;
}

.coluna a{
    color: #07d600;
    text-decoration: none;
}

.coluna i{
    text-align: center;
    font-size: 26px;
    margin-left: 13px;
    margin-top: 5px;
}







  











@media (max-width: 768px) {


    nav{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .logo img{
        width: 120px;
        height: 120px;
    }

    .menu-hamburger {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 3px;
        margin-bottom: 5px;


    }

    .menu li {
        margin: 10px 0;
        padding: 2.6px 40.7px;


    }

    .menu.active {
        display: flex;

    }

    .sobre-mim {
        display: flex;
        flex-direction: column;
        background-position: inherit;
    }

    .text-mim {
        width: 100%;
        text-align: justify;
        margin-left: 0;
        padding: 0 14px;
        margin-bottom: 10px;
    }

    .icons-2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .pl-2 {
        background-attachment: fixed;
        width: 100%;
        height: 250px;
    } 

    .pjt-destaque h1 {
        font-size: 40px;
    }

    .container-footer{
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
    }

    .coluna{
        margin-top: 15px;
    }

    .coluna img{
        height: 180px;
        width: 200px;
        margin-top: -8px;
        margin-bottom: -40px;
    }

    .coluna p{
        font-size: 25px;
    }




}